<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Green Legacy</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
   <script src="https://kit.fontawesome.com/bfb48327a2.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

   <script src="javascripts/challenge-view.js"></script>

</head>
<body>
   <%- include('../partials/header.ejs') %> 
   <%- include('../partials/errorMessage.ejs') %> 
   <%- body %>
   <%- include('../partials/bottom.ejs') %> 
</body>
</html>