<h1 class="display-4">Über uns</h1>
<!-- TODO: Hier noch keinen Namen einbinden. Das erst in der eingeloggten Ansicht. -->

<div>
    <!-- top part -->
    <div class="top-container">
        Green Legacy ist ein Projekt, das im Rahmen von TechLeby initiiert wurde. Unser Ziel ist eine leichte Herangehensweise an das Thema Klimawandel und individuelle Nachhaltigkeit zu bieten.
        Durch die Challenges kannst du mit einer Gruppe Freunden, Arbeitskolleg*innen oder deiner Familie Ziele stecken und spielerisch CO<sub>2</sub> einsparen.
        <div class="divider"></div>
    </div>
    
    <!-- bottom part -->
    <div class="bottom-container">

        <!-- Who we are -->
        <div class="display-4 heading">Das sind wir:</div>
        <!-- IDEA: have cards with images of us inside, on hover a name is visible -->
        <div class="gallery">
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> Register</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> Create Group</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> Take Challenge together</h5>
                    <!-- alternative icon: <i class="fas fa-hiking"></i> -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> Register</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> Create Group</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
<div>

<!-- TODO: Link zu Impressum -->
<div height=100px>Impressunm</div>
