<h1 class="display-4 heading">Über uns</h1>
<!-- TODO: Hier noch keinen Namen einbinden. Das erst in der eingeloggten Ansicht. -->

<div>
    <!-- top part -->
    <div class="top-container">
        <div class="text">
        <!-- style="align-items: center; width: 50%; margin: auto;" -->

        Green Legacy ist ein Projekt, das im Rahmen von TechLabs initiiert wurde. Unser Ziel ist eine leichte Herangehensweise an das Thema Klimawandel und individuelle Nachhaltigkeit zu bieten.
        Durch die Challenges kannst du dir selber oder mit einer Gruppe Freunden, ArbeitskollegInnen oder deiner Familie Ziele stecken und spielerisch CO<sub>2</sub> einsparen.
        <br>
        Hinweis: Dies ist eine Testseite im Rahmen eines studentischen Projekts und wird nicht geschäftsmäßig betrieben.
        
        </div>
        <div class="divider"></div>
    </div>
    
    <!-- bottom part -->
    <div class="bottom-container">

        <!-- Who we are -->
        <div class="display-4 text-center" style="padding-bottom: 4%;">Das sind wir:</div>
        <!-- IDEA: have cards with images of us inside, on hover a name is visible -->
        <div class="gallery">
            <div class="coin" style="background-image: url('/images/team/profilePictures/Lukas.jpg');">
                <div class="coin-flip">
                    <div class="description">Lukas</div>
                    <p>WebDev</p>
                </div>
            </div>

            
            <div class="coin" style="background-image: url('/images/team/profilePictures/Luise.png');">
                <div class="coin-flip">
                    <div class="description">Luise</div>
                    <p>Design und WebDev</p>
                </div>
            </div>
            
            <div class="coin" style="background-image: url('/images/team/profilePictures/Fabian.png');">
                <div class="coin-flip">
                    <div class="description">Fabian</div>
                    <p>Design</p>
                </div>
            </div>

        </div>
        <div class="gallery" style="justify-content:space-evenly">
            
            <div class="coin" style="background-image: url('/images/team/profilePictures/Julia.png');">
                <div class="coin-flip">
                    <div class="description">Julia</div>
                    <p>Data Science</p>
                </div>
            </div>

            <div class="coin" style="background-image: url('/images/team/profilePictures/Lucca.jpg');">
                <div class="coin-flip">
                    <div class="description">Lucca</div>
                    <p>Data Science</p>
                </div>
            </div>
        </div>
<div>

<!-- <svg  width="100" height="100" src="stylesheets/TechLabsLogo.svg"></svg> -->
<object type="image/svg+xml" data="stylesheets/TechLabsLogo.svg" width=250px></object>

<!-- TODO: Link zu Impressum -->
<div height=100px style="text-align: center">Impressum</div>
