<div class="row no-gutters">
   <div class="col-3">
      <img src="https://praxistipps-images.chip.de/XFDsyCg4T5ofNe8x_shXEjoNcLI=/800x450/filters:format(jpeg):fill(fff,true):no_upscale()/praxistipps.s3.amazonaws.com%2Fkalt-duschen-kostet-ueberwindung-quelle-pixabay-com-_c387817e.jpg" class="img-fluid">
   </div>
   <div class="col-9">
      <div class="row no-gutters">
         <div class="col-6">
            A
         </div>
         <div class="col-6">
            B
         </div>
         <div class="col-6">
            C
         </div>
         <div class="col-6">
            D
         </div>
      </div>
   </div>
</div>
