<h1 class="display-4 heading" >Here you can watch your group's progress in your challenge</h1>
<div>
    <div style =" display:flex; flex-direction:row; justify-content:center;">
        <div class="top-container" style="height:600px; width: 90%;">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Übersicht</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Linine</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false">Balken</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container">
                        <div class="row my-3">
                            <div class="col">
                                <h4>Bootstrap 4 Chart.js - Line Chart</h4>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <canvas id="chLine" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
                    <div class="container">
                        <div class="row my-3">
                            <div class="col">
                                <h4>Bootstrap 4 Chart.js - Line Chart</h4>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <canvas id="chLine2" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="container">
                        <div class="row my-3">
                            <div class="col">
                                <h4>Bootstrap 4 Chart.js - Bar Chart</h4>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <canvas id="chBar" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    </div>
    <div class="divider"style="bottom:0; position:relative;" ></div>
</div>
<!-- bottom part -->
<div class="bottom-container">
    <div height=100px style="text-align: center">Impressum</div>
</div>