<h1 class="display-4 heading" >Welcome to our landingpage!</h1>
<!-- TODO: Hier noch keinen Namen einbinden. Das erst in der eingeloggten Ansicht. -->

<div>
    <!-- top part -->
    <div class="top-container">
        <div class="heading" style="font-size: 20px;">Mit Green Legacy kannst du mit deinen Freunden oder Arbeitskollegen gemeinsam CO<sub>2</sub> einsparen!</div>
        <div class="divider"></div>
    </div>
    
    <!-- bottom part -->
    <div class="bottom-container">
        <!-- <div class="diagonal-box">
            <div  style="display: flex; flex-direction:row; position: center; font-size:20px;transform: rotate(-10deg); ">
                This is normal placed text.
            </div>
        </div>-->

        <!-- how it works -->
        <div class="display-4 heading">So funktioniert's</div>
        <div class="gallery">
            <div class="card" style="width: 18rem"> 
                <!-- background-color:var(--decent-green); color: white; -->
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa-pencil-alt"></i> Register</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title"> <i class="fa fa-users" aria-hidden="true"></i> Create Group</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body" style="background-color: green;">
                    <h5 class="card-title"> <i class="fas fa-compress-arrows-alt"></i> Take Challenge together</h5>
                    <!-- alternative icon: <i class="fas fa-hiking"></i> -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <!-- sliding 'did-you-knows' -->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"  style="display:flex; flex-direction:row; justify-content:center; transform: translateX(-150px);">
                <div class="carousel-item active" > 
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass X ..?</div>
                    <img src="/stylesheets/trees.jpg" class="d-block" alt="Bild 1" width="300">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass Y ..?</div>
                    <img src="/stylesheets/trees.jpg" class="d-block" alt="Bild 2" width="300">
                </div>
                <div class="carousel-item">
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass Z ..?</div>
                    <img src="/stylesheets/trees.jpg" class="d-block" alt="Bild 3" width="300">
                </div>
            </div>
        </div>
        
        <!-- TODO: Link zu Impressum -->
        <div height=100px style="text-align: center">Impressum</div>
    </div>
<div>