<h1 class="display-4 heading" >Welcome to our landingpage!</h1>
<!-- TODO: Hier noch keinen Namen einbinden. Das erst in der eingeloggten Ansicht. -->

<div>
    <!-- top part -->
    <div class="top-container">
        <div class="text">
            Mit Green Legacy kannst du mit deinen Freunden oder Arbeitskollegen gemeinsam CO<sub>2</sub> einsparen! <br>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
            sanctus est Lorem ipsum dolor sit amet.
        </div>
        <div class="divider"></div>
    </div>
    
    <!-- bottom part -->
    <div class="bottom-container">

        <!-- how it works -->
        <div class="display-4 heading">So funktioniert's</div>
        <div class="gallery">
            <div class="card" style="width: 18rem"> 
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa-pencil-alt"></i> Melde dich an</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fa fa-users" aria-hidden="true"></i> Erstelle eine Gruppe</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa-compress-arrows-alt"></i> Stellt euch gemeinsam Herausforderungen</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <!-- sliding 'did-you-knows' -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" > 
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass X ..?</div>
                    <img src="/stylesheets/trees.jpg" class="d-block" alt="Bild 1" width="300">
                </div>
                <div class="carousel-item">
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass Y ..?</div>
                    <img src="/stylesheets/trees.jpg" class="d-block" alt="Bild 2" width="300">
                </div>
                <div class="carousel-item">
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass Z ..?</div>
                    <img src="/stylesheets/trees.jpg" class="d-block" alt="Bild 3" width="300">
                </div>
            </div>
            
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
        <!-- TODO: Link zu Impressum -->
        <div height=100px style="text-align: center">Impressum</div>
    </div>
<div>