<h1 class="display-4 heading" >Willkommen bei Green Legacy</h1>
<!-- TODO: Hier noch keinen Namen einbinden. Das erst in der eingeloggten Ansicht. -->

<div>
    <!-- top part -->
    <div class="top-container" style="height: 420px;">
        <div class="text" style="text-align: center;">
            Mit Green Legacy kannst du mit deinen Freunden oder Arbeitskollegen gemeinsam CO<sub>2</sub> einsparen! <br>
            
            Stellt euch den Herausforderungen, um etwas gegen den Klimwandel zu unternehmen.
        </div>
        <div class="divider"></div>
    </div>
    
    <!-- bottom part -->
    <div class="bottom-container">

        <!-- how it works -->
        <div class="display-4 heading">So funktioniert's</div>
        <div class="gallery">
            <div class="card" style="width: 18rem"> 
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa fa-user"></i> Melde dich an</h5>
                    <p class="card-text">Um deine Klimachallenge zu starten, registriere dich mit nur wenigen Angaben!</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa fa-users"></i> Challenge erstellen</h5>
                    <p class="card-text">Wähle deine Umweltchallenge aus und lade deine Freunde und Bekannte dazu ein.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa-chart-bar"></i> Ergebnisse</h5>
                    <p class="card-text">Messt euch gegenseitig und tut gemeinsam etwas Gutes für die Umwelt</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
        </div>
        <!-- sliding 'did-you-knows' -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                
                <div class="carousel-item active" width=200px> 
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass .. </div>
                    <div>
                        <img src="/stylesheets/Verkehr.jpg" class="d-block" alt="Bild 1" width="300" style="opacity: 0.7;">
                        <div class="text-in-image">..  der Verkehr (Auto, Bus, Fluzeugt etc.) in Deutschland im Jahr 2018 ungefähr <b>164 Mio. Tonnen CO<sub>2</sub></b> erzeugt hat?
                            <br><br>[Umweltbundesamt 01/2020]
                        </div>
                    </div>
                </div>

                <div class="carousel-item" width=200px> 
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass .. </div>
                    <div>
                        <img src="/stylesheets/shower.jpg" class="d-block" alt="Bild 2" width="300" style="opacity: 0.7;">
                        <div class="text-in-image">.. einmal Baden mehr als <b>doppelt so viel</b> warmes Wasser (und damit auch Energie) wie fünf Minuten Dusche verbraucht? </div>
                    </div>
                </div>

                <div class="carousel-item" width=200px> 
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass .. </div>
                    <div>
                        <img src="/stylesheets/Fleischkonsum.png" class="d-block" alt="Bild 3" width="300" style="opacity: 0.7;">
                        <div class="text-in-image">.. in Deutschland pro Jahr <b>60,1 kg</b> Fleisch pro Kopf gegessen werden?
                            Würde der Fleischkonsum in Deutschland auf die Hälfte sinken, könnten 13,3 Millionen Tonnen CO<sub>2</sub> eingespart werden. 
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass ..?</div>
                    <div>
                        <img src="/stylesheets/coffee.jpg" class="d-block" alt="Bild 4" width="300" style="opacity: 0.7;">
                        <div class="text-in-image">.. für die Herstellung einer Tasse Kaffee <b>140 Liter</b> Wasser verbraucht werden? </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="display-4" style="font-size:30px;"> Wusstest du, dass ..?</div>
                    <div>
                        <img src="/stylesheets/airplane.jpg" class="d-block" alt="Bild 5" width="300" style="opacity: 0.7;">
                        <div class="text-in-image">.. der Lebensmitteltransport per Flugzeug <b>5 mal</b> so viele Emissionen wie der Transport per LKW und fast <b>30 mal</b>b so viele wie per Schiff verbraucht. </div>
                    </div>
                </div>
            </div>
            
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
        <!-- TODO: Link zu Impressum -->
        <div height=100px style="text-align: center">Impressum</div>
    </div>
<div>