<h1 class="display-4 heading">Login</h1>

<div class="top-container">
        
    <div style="align-items: center; border: solid 1px; border-radius: 5px; width: 50%; margin: auto;"> 
        <form action="/login" method="POST" style="padding: 10px;">
        <div class="form-group">
            <label for="exampleInputEmail">E-Mail Adresse</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Passwort</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword">
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button type="submit" class="btn btn-primary" style="border-color: var(--decent-green); background-color: var(--decent-green); color: white;">Login</button>
            <button type="button" class="btn btn-link">Passwort vergessen?</button></div>
        </div>
        </form>
        <div class="divider"></div>
    </div>
</div>

<!-- bottom part -->
<div class="bottom-container">
    <div height=100px style="text-align: center">Impressum</div>
</div>