.top-container{
  height:500px;
  background:#FFF;
  position:relative;
}

.bottom-container{
  background:#8EB619;
  position:relative;
  display:flex;
  flex-direction: column;
}

.divider{   
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #FFF 49%, #8EB619 50%);
  bottom:0;
}

.heading{
  display:flex;
  justify-content:center;

  padding-top:80px;
  padding-bottom:40px;
  font-size:30px;
}

.gallery{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding-bottom:40px;
}